<div class="row">
    <form class="form-inline">
        <div class="form-group">
            <label for="search_term" class="control-label">Search Wiki :</label>
            {{input type="text" id="search_term" value=newField class="form-control"}}
        </div>
        <button {{action 'searchText'}} id="send" name="send" class="btn btn-primary">Search</button>
    </form>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            {{#each data.query.search as |value|}}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">{{value.title}}</h4>
                <br> {{{value.snippet}}}
                <br>
                <button {{action 'searchDetails' value.title}} class="btn btn-default">Read More</button>
                {{link-to 'Read More' 'create-route.detail' value.title}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>
