<div class="container">
    <div class="row">
        {{wiki-wrapper searchT=(action 'searchT')}}
        <br>
    </div>
    <br>

    <div class="row">
        <div class="col-xs-12 col-md-5 col-lg-5">
            <ul class="list-group-item-heading">
                {{#each data.query.search as |value|}}
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">{{value.title}}</h4>
                    <br> {{{value.snippet}}}
                    <br>
                    <button {{action 'searchDetails' value.title}} class="btn btn-default">Read More</button>
                </li>
                {{/each}}
            </ul>
            {{data.query.searchinfo.totalhits}}
        </div>
        <div class="col-xs-12 col-md-5 col-lg-5">
            {{extract}}
        </div>
    </div>
</div>
